*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #e8d8b4;
}

header{
    background-color: #fffffe;
    height: 5rem;
    width: 100%;
    text-align: center;
    position: sticky;
    top: 0;
    z-index: 1;
}
header p{
    padding-top: 5px;
    font-size: 50px;
}
.subSectionTops{
    margin-top: -0.4rem;
    text-align: center;
    font-size: 0.8rem;
}
.shirtsInventory{
    background-color: rgb(255, 255, 255);
    width: 70rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-left: 4.5rem;
}
.shirtsInventory div{
    margin: 5rem;
    width: 22rem;
    height: 30rem;
    text-align: center;
}
.shirtsInventory p{
    background-color: #e8d8b4;
    line-height: 2rem;
}
div img{
    background-color: #e8d8b4;
    width: 22rem;
    height: 25rem;
    object-fit: contain;
}
