*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'PT Serif', serif;
    background-color: rgb(255, 255, 255);
    position: relative;
    width: 100%;
    height: 100%;
}


/* NAME OF THE COMPANIE */
header{
    background-color: #fffffe;
    height: 5rem;
    width: 100%;
    text-align: center;
    position: sticky;
    top: 0;
    z-index: 1;
}
header p{
    padding-top: 5px;
    font-size: 50px;
}
/* ------------------------------------- */


/* NAV OPTIONS OF CLOTHING */
nav{
    background-color: rgb(247, 247, 247);
    height: 3rem;
}
nav ul{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding-top: 1rem;
}
nav ul li{
    list-style:none
}

select{
    border: none;
    background-color: rgb(247, 247, 247);
    appearance:none;
}
select:focus{
    border: none;
    outline: none;  /*saca el borde al clickearlo*/

}
/* -------------------------------------------- */


/* OFFERS SECTION */
.offerSection ul{
    list-style: none;
    margin: 0;
    padding:0;
    display: flex;
    gap: 1rem;
    overflow: auto;
    background-color: #e8d8b4;
    scroll-snap-type: x mandatory;
}
.offerSection ul::-webkit-scrollbar {
    display: none;
}
.offerSection ul img{
    width: 60rem;
    height: 35rem;
    margin-left: 13rem;
    margin-right: 9rem; 
    object-fit: contain;
    scroll-snap-align: center;
}
.offerSection ul li{
    width: 90rem;
    height: 35rem;
}
/* --------------------------------------------- */


/* SHIPPING INFO */
.shippingInfo{
    background-color: #C67D57;
    height: 18rem;
    text-align: center;
}

.shippingInfo img{
    object-fit:scale-down;
    width:100%;
    height:17rem;
    padding-top: 0.5rem;
}
.paymentsLogos{
    background-color: rgb(247, 247, 247);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    height: 6rem;
    padding-top: 1rem;
}
.paymentsLogos img{
    width: 5rem;
    height:5rem;
}
/* --------------------------------------------- */


/*THE BEST SELLERS*/
.theBestSellers , .sale{
    height: 34rem;
    text-align: center;
    list-style: none;
    margin-top: 25px;
    padding:0;
}
.bestSellerBox , .saleBox{
    height: 29rem;
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    overflow: auto;
    gap: 10px;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
}
.bestSellerBox::-webkit-scrollbar {
    display: none;
}
.bestBox figure img{
    width: 20rem;
    height: 25rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 5rem;
    object-fit: cover;
    scroll-snap-align: center;
}
#lastBestBox{
    margin-right: 5rem;
}
.bestBox figure p , .bestBox figure h6{
    width: 20rem;
    margin-left: 5.3rem;
    text-align: center;
}
.theBestSellers button, .sale button{
    background-color: #e8d8b4;
    width: 5rem;
    height: 3rem;
    border-radius: 13%;
    border-style: none;
}
/* --------------------------------------------- */


/*SALE SECTION */
.saleBoxChild{
    width: 70rem;
}
.saleBoxChild figure img{
    width: 20rem;
    height: 25rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left:5rem;
    object-fit: cover;
    scroll-snap-align: center;
}
.saleBox::-webkit-scrollbar {
    display: none;
}
.saleBox figure p{
    width: 20rem;
    margin-left: 5rem;
    text-align: center;
}
.saleBox figure h6{
    width: 20rem;
    padding-left: 5.3rem;
}
/* --------------------------------------------- */


/*extra info*/
.extraInfo{
    margin-top: 5rem;
    height: 5rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    text-align: center;
    justify-content: space-evenly;
    background-image: linear-gradient(to top, #ffffff, #f5f5f5, #eaeaea, #e0e0e0, #d6d6d6);}
.extraInfo p{
    padding-top: 1rem;
}
#smallLetter{
    height: 0.3rem;
    text-align: center;
}
.extraInfo i {
    margin-top: 2rem;
}
/* --------------------------------------------- */


/*footer*/
footer{
    margin-top: 5rem;
    height: 6rem;
    background-color: #C67D57;
}
footer ul{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    list-style:none;
    padding-top: 1.5rem;
}
footer p{
    margin-top: 2.2rem;
    text-align: center;
    font-size:10px;
}